In [1]:
from augchem import Augmentator
import pandas as pd

aug = Augmentator()

new_df = aug.SMILES.augment_data(dataset="QM9.csv", augmentation_methods=["fusion", "enumeration"])

new_df.head()

Generated new 26786 SMILES

                                              SMILES Property_0  parent_idx
0                       ['CNC(=O)C#C', 'CNC(=O)C#C']    8.88595         NaN
1  ['OC(C=O)C1CC2CC12', 'O[C@@H](C=O)[C@H]1C[C@H]...    3.54096         NaN
2    ['CC1OC2CC1COC2', 'C[C@H]1O[C@@H]2C[C@H]1COC2']    2.30676         NaN
3      ['CC(NC=O)C1(C)CC1', 'C[C@@H](NC=O)C1(C)CC1']    2.16386         NaN
4        ['CCCC1CC(CC)C1', 'CCC[C@H]1C[C@@H](CC)C1']    5.15429         NaN

In [2]:
new_df.tail()

              SMILES Property_0  parent_idx
160666  C1C(C)NNC=N1          -     39096.0
160667  C1N(C)C=NC=N          -     39096.0
160668  C1CNC11=NN=1          -     39096.0
160669  C1N(CC1=N=N1          -     39096.0
160670  C1CC1)1NNC=N          -     39096.0

In [3]:
data = pd.read_csv("QM9.csv")
len(data)

133885

In [4]:
len(new_df) - len(data)

26786