In [1]:
from augchem import Augmentator
import pandas as pd

data = pd.read_csv("QM9.csv", index_col=0)
data

,SMILES_1,SMILES_2,INCHI_1,INCHI_2,Property_0
0,CCCCNC=O,CCCCNC=O,"InChI=1S/C5H11NO/c1-2-3-4-6-5-7/h5H,2-4H2,1H3,...","InChI=1S/C5H11NO/c1-2-3-4-6-5-7/h5H,2-4H2,1H3,...",7.53656
1,C#CC1CN2N=CC=C12,C#C[C@H]1Cn2nccc12,"InChI=1S/C7H6N2/c1-2-6-5-9-7(6)3-4-8-9/h1,3-4,...","InChI=1S/C7H6N2/c1-2-6-5-9-7(6)3-4-8-9/h1,3-4,...",4.26566
2,CC12CC1(O)CCOC2,C[C@@]12C[C@]1(O)CCOC2,"InChI=1S/C7H12O2/c1-6-4-7(6,8)2-3-9-5-6/h8H,2-...","InChI=1S/C7H12O2/c1-6-4-7(6,8)2-3-9-5-6/h8H,2-...",2.31892
3,CC1(CO)OC2CNC12,C[C@@]1(CO)O[C@H]2CN[C@@H]12,"InChI=1S/C6H11NO2/c1-6(3-8)5-4(9-6)2-7-5/h4-5,...","InChI=1S/C6H11NO2/c1-6(3-8)5-4(9-6)2-7-5/h4-5,...",3.38968
4,O=C1CCC11COCO1,O=C1CC[C@]21COCO2,InChI=1S/C6H8O3/c7-5-1-2-6(5)3-8-4-9-6/h1-4H2,InChI=1S/C6H8O3/c7-5-1-2-6(5)3-8-4-9-6/h1-4H2/...,3.07477
...,...,...,...,...,...
133880,CC(=N)NC1=CON=C1,CC(=N)Nc1conc1,"InChI=1S/C5H7N3O/c1-4(6)8-5-2-7-9-3-5/h2-3H,1H...","InChI=1S/C5H7N3O/c1-4(6)8-5-2-7-9-3-5/h2-3H,1H...",4.96092
133881,CC1C2C3C=CC2(C)N13,C[C@H]1[C@H]2[C@@H]3C=C[C@@]2(C)N13,"InChI=1S/C8H11N/c1-5-7-6-3-4-8(7,2)9(5)6/h3-7H...","InChI=1S/C8H11N/c1-5-7-6-3-4-8(7,2)9(5)6/h3-7H...",2.91016
133882,CCC1CN1C(=N)C#N,CC[C@H]1CN1[C]([NH])C#N,"InChI=1S/C6H9N3/c1-2-5-4-9(5)6(8)3-7/h5,8H,2,4...","InChI=1S/C6H9N3/c1-2-5-4-9(5)6(8)3-7/h5,8H,2,4...",1.96576
133883,CNC(C)C1=NC=NO1,CN[C@@H](C)c1ncno1,"InChI=1S/C5H9N3O/c1-4(6-2)5-7-3-8-9-5/h3-4,6H,...","InChI=1S/C5H9N3O/c1-4(6-2)5-7-3-8-9-5/h3-4,6H,...",3.78678
133884,OC1(C#C)C2C3NC3C12,O[C@@]1(C#C)[C@H]2[C@H]3N[C@H]3[C@@H]12,"InChI=1S/C7H7NO/c1-2-7(9)3-4(7)6-5(3)8-6/h1,3-...","InChI=1S/C7H7NO/c1-2-7(9)3-4(7)6-5(3)8-6/h1,3-...",4.21766

In [2]:
aug = Augmentator()

new_df = aug.SMILES.augment_data(dataset="QM9.csv", augmentation_methods=["mask", "enumeration"], col_to_augment="SMILES_1", property_col = "Property_0", mask_ratio=0.2)
new_df.head()

Generated new 26767 SMILES

           SMILES_1 Property_0 parent_idx
0          CCCCNC=O    7.53656         -1
1  C#CC1CN2N=CC=C12    4.26566         -1
2   CC12CC1(O)CCOC2    2.31892         -1
3   CC1(CO)OC2CNC12    3.38968         -1
4    O=C1CCC11COCO1    3.07477         -1

In [3]:
new_df.tail()

                  SMILES_1 Property_0 parent_idx
160657   CCC[M](O)CC([M])O          -    90317.0
160658        O1CC2CCC1CO2          -    90317.0
160659  C1[M]CC1=C1CCOC[M]          -    27540.0
160660  C12OC(=O)OCC(C2)C1          -    27540.0
160661    CCCC1=[M]CCC[M]1          -   101842.0

In [4]:
grouped_counts = new_df.groupby(by="parent_idx").size().reset_index(name='count')
grouped_counts

      parent_idx   count
0           16.0       2
1           21.0       2
2           28.0       2
3           32.0       4
4           37.0       2
...          ...     ...
12714   133870.0       2
12715   133872.0       2
12716   133880.0       2
12717   133882.0       2
12718         -1  133885

[12719 rows x 2 columns]

In [5]:
data = pd.read_csv("QM9.csv")
len(data)

133885

In [6]:
len(new_df) - len(data)

26767