In [1]:
from augchem import Augmentator
import pandas as pd

data = pd.read_csv("QM9.csv", index_col=0)
data

,SMILES_1,SMILES_2,INCHI_1,INCHI_2,Property_0
0,OC1COC(=N)C1=O,O[C@H]1CO[C]([NH])C1=O,"InChI=1S/C4H5NO3/c5-4-3(7)2(6)1-8-4/h2,5-6H,1H2","InChI=1S/C4H5NO3/c5-4-3(7)2(6)1-8-4/h2,5-6H,1H...",3.49649
1,CN(C)C(=O)C=O,CN(C)C(=O)C=O,"InChI=1S/C4H7NO2/c1-5(2)4(7)3-6/h3H,1-2H3","InChI=1S/C4H7NO2/c1-5(2)4(7)3-6/h3H,1-2H3",3.92544
2,C1C2CC3N=COCC123,C1[C@H]2C[C@@H]3N=COC[C@]123,InChI=1S/C7H9NO/c1-5-2-7(5)3-9-4-8-6(1)7/h4-6H...,InChI=1S/C7H9NO/c1-5-2-7(5)3-9-4-8-6(1)7/h4-6H...,3.02103
3,OC1C2OC3CC2C13O,O[C@H]1[C@H]2O[C@@H]3C[C@H]2[C@]13O,"InChI=1S/C6H8O3/c7-5-4-2-1-3(9-4)6(2,5)8/h2-5,...","InChI=1S/C6H8O3/c7-5-4-2-1-3(9-4)6(2,5)8/h2-5,...",2.52006
4,OC1C2C(=N)OCC12O,O[C@H]1[C@H]2[C]([NH])OC[C@@]12O,"InChI=1S/C5H7NO3/c6-4-2-3(7)5(2,8)1-9-4/h2-3,6...","InChI=1S/C5H7NO3/c6-4-2-3(7)5(2,8)1-9-4/h2-3,6...",2.48587
...,...,...,...,...,...
133880,CC1=C(N)C(=NN1)C#C,Cc1c(N)c(n[nH]1)C#C,"InChI=1S/C6H7N3/c1-3-5-6(7)4(2)8-9-5/h1H,7H2,2...","InChI=1S/C6H7N3/c1-3-5-6(7)4(2)8-9-5/h1H,7H2,2...",3.37027
133881,CC(C)(C)C(O)C(N)=O,CC(C)(C)[C@@H](O)C(=O)N,"InChI=1S/C6H13NO2/c1-6(2,3)4(8)5(7)9/h4,8H,1-3...","InChI=1S/C6H13NO2/c1-6(2,3)4(8)5(7)9/h4,8H,1-3...",2.23826
133882,CC1C2C3C(N12)C3(C)O,C[C@H]1[C@H]2[C@H]3[C@@H](N12)[C@]3(C)O,"InChI=1S/C7H11NO/c1-3-5-4-6(8(3)5)7(4,2)9/h3-6...","InChI=1S/C7H11NO/c1-3-5-4-6(8(3)5)7(4,2)9/h3-6...",3.77036
133883,C1CN1C1C2CC1C2,C1CN1[C@H]1[C@H]2C[C@@H]1C2,"InChI=1S/C7H11N/c1-2-8(1)7-5-3-6(7)4-5/h5-7H,1...","InChI=1S/C7H11N/c1-2-8(1)7-5-3-6(7)4-5/h5-7H,1...",5.11764
133884,OC1=COC(=N)C(=N)O1,OC1=COC(=C([NH])O1)[NH],"InChI=1S/C4H4N2O3/c5-3-4(6)9-2(7)1-8-3/h1,5-7H","InChI=1S/C4H4N2O3/c5-3-4(6)9-2(7)1-8-3/h1,5-7H",3.08803

In [ ]:
aug = Augmentator()

new_df = aug.SMILES.augment_data(dataset="QM9.csv", augmentation_methods=["fusion", "enumeration"], col_to_augment="SMILES_1", property_col = "Property_0")
new_df.head()

Generated new 26733 SMILES

           SMILES_1 Property_0  parent_idx
0    OC1COC(=N)C1=O    3.49649         NaN
1     CN(C)C(=O)C=O    3.92544         NaN
2  C1C2CC3N=COCC123    3.02103         NaN
3   OC1C2OC3CC2C13O    2.52006         NaN
4  OC1C2C(=N)OCC12O    2.48587         NaN

In [6]:
new_df.tail()

                    SMILES_1 Property_0  parent_idx
160658    OC1C2C1(C)C(C=O)N2          -     68790.0
160659  C1(O)C2(C)C(NC12)C=O          -     68790.0
160660    C1(C2NC(C=O)C21C)O          -     68790.0
160661    O=CC1C2(C(C2O)N1)C          -     68790.0
160662    C12NC(C2(C1O)C)C=O          -     68790.0

In [ ]:
grouped_counts = new_df.groupby(by="parent_idx").size().reset_index(name='count')
grouped_counts

      parent_idx  count
0           10.0      9
1           66.0     10
2          121.0      9
3          292.0      9
4          458.0     10
...          ...    ...
2842    133644.0      9
2843    133653.0     10
2844    133658.0     10
2845    133670.0     10
2846    133698.0      9

[2847 rows x 2 columns]

In [4]:
data = pd.read_csv("QM9.csv")
len(data)

133885

In [5]:
len(new_df) - len(data)

26733